/*Header*/
.icon {
    height: 40px;
    padding: 10px;
  }
  .menu1 a{
      text-decoration: none;
      color:white;
  }
  .heading1 {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    line-height: 0;
    height: 40px;
  }
  .heading1 .left {
    padding-left: 20px;
  }
  .heading1 .right {
    padding-left: 800px;
  }
  .icon {
    height: 30px;
    padding: 5px;
  }
  /*Header2*/
  .logo {
    padding: 10px;
    height: 120px;
    margin-left: 80px;
  }
  .logo2 {
    height: 120px;
    overflow-x: hidden;
    padding-left: 600px;
  }
  .mainheading {
    display: flex;
    padding: 10px;
  }
  /*Header Navigation*/
  .navi {
    background-color: purple;
  }
  .menu1 {
    font-weight: bold;
    color: white;
    padding: 80px;
  }
  /* Footer Section*/
  footer {
    background-color: rgba(122, 119, 119, 0.2);
    text-align: center;
  }
.footermain{
    border: 3px solid black;
    font-size: 14px;
}
.footermain {
    display: inline-flex;
    font-weight: bold;
}
.col1{
    border: 3px solid white;

    width:25%;
}
.col2{
    width:25%;
    border: 3px solid white;
    
}
.col3{
    width:25%;
    border: 3px solid white;

}
.col4{
    width:25%;
    border: 3px solid white;

}
li{
    list-style: none;
   
}
.col2 a{
    text-decoration: none;
    color: blue;
}
/*About*/

.nss_about {
  margin: 30px;
  margin-top: 0;
  padding:30px;
  background-color: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}
.centerhead{
text-align: center;
font-weight: bold;
font-size: 35px;
}
.index_cont{
  margin: 30px;
  padding:30px;
  background-color: black;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}